{% extends "base.html" %}
{% block content %}
    <main>
        <h1>Signup</h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
        <ul>
        </ul>
    </main>
{% endblock content %}
